TOKEN=<bot token>                                                                                                                                                                                                                                                              
OWNER=<Owner user id>>                                                                                                                                                                                                                                                                                                                   
HAUNT_COMMAND_ID=<add the haunt command id here after first run. then restart the bot>